<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <!--指定要扫描的包，这个包下的注解才会生效
    有了这个context之后，就不用在这个xml文件中写出每个bean的实例化了，
    只需要在每个类上面去加@Component-->
    <context:component-scan base-package="com.kuang.pojo"/>

    <!--开启注解-->
    <context:annotation-config/>

</beans>